<a href="https://colab.research.google.com/github/sujiniv/Git-Learning/blob/main/WEEK1_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1: **Write a Python program that takes two integer numbers as input from the user

```
Expected Output:
Enter the first number: 10
Enter the second number: 20
your first number is  10 your second number is  20
```

**Task 2:**Write a Python program to check if a number is positive, negative, or zero.



```
Expected Output:
enter your number10
Positive


```

**Task 3:** Write a Python program to determine if a given year is a leap year. If the year is divisible by 4, check if it's also not divisible by 100 or divisible by 400. Print "Leap year" if it meets the conditions; otherwise, print "Not a leap year."

```
Expected Output:
Enter a year: 1997
Not a leap year
```

**Task 4:** Write a Python program that simulates an ATM. The program should ask for the withdrawal amount and check if it's a multiple of 20  
If not,inform the user that only multiples of 20 are allowed.



```
Expected Output:
Enter the withdrawal amount: 40
Withdraw 40 dollars.
```

**Task 5:** Write a Python program that calculates the ticket price for a movie. If a person is a student, they get a 20% discount. If the person is a senior, they get a 15% discount. If not, they pay the full price.



```
Expected Output:
Enter your age: 34
Are you a student (yes/no)? no
Your ticket price is $10.00.
```

In [ ]:
#*Task 1: *Write a Python program that takes two integer numbers as input from the user

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the Second number: "))
print(f'Your First Number is {num1} Your Second Number is {num2}')

Enter the first number: 10
Enter the Second number: 20
Your First Number is 10 Your Second Number is 20

In [ ]:
#Task 2:Write a Python program to check if a number is positive, negative, or zero.

num = int(input("Enter Your Number: "))
if num > 0:
  print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter Your Number: 1
Positive

In [ ]:
# Task 3: Write a Python program to determine if a given year is a leap year. If the year is divisible by 4, check if it's also not divisible by 100 or divisible by 400.
# Print "Leap year" if it meets the conditions; otherwise, print "Not a leap year."

Year = int(input())
if Year%4 == 0:
  if Year%400 == 0 or Year%100 != 0:
    print("Leap Year")
  else: print('')
else: print("Not a Leap Year")

2024
Leap Year

In [ ]:
# Task 4: Write a Python program that simulates an ATM. The program should ask for the withdrawal amount and check if it's a multiple of 20
# If not,inform the user that only multiples of 20 are allowed.

Withdrawl_Amount = int(input("Enter Withdrawl Amount: "))

if Withdrawl_Amount%20 == 0:
  print(f'Withdraw your amount: {Withdrawl_Amount}')
else: print("Only Multiples of 20 are allowed")

Enter Withdrawl Amount: 90
Only Multiples of 20 are allowed

In [ ]:
# Write a Python program that calculates the ticket price for a movie. If a person is a student, they get a 20% discount.
# If the person is a senior, they get a 15% discount. If not, they pay the full price.

Age = int(input("Enter your age: "))
Student = input("Are You a Student (Yes/No)? ").lower()

if Age > 5 and Age <= 60:
  if Student == 'yes':
    print("Your Ticket Price is: $32")
  elif Student == 'no':
    print("Your Ticket Price is $40")
elif Age > 60:
  print("Your Ticket Price is $34")
else: print('Invalid Input')

Enter your age: 2
Are You a Student (Yes/No)? no
Invalid Input

In [ ]:
from re import I
num = [1,2,3,4,5,6]

for i in num:
  if i == 5:
    break
  if i == 3:
    continue
  print(i)

1
2
4

In [ ]:
i = 1

while i <= 10:
  print(i)
  i += 2

1
3
5
7
9

In [ ]:
i = 0
while i < 10:
  i += 1
  if i == 5:
    continue
  if i == 7:
    break
  print(i)

1
2
3
4
6

In [ ]:
i = 1
while i <= 3:
  j = 1
  while j <= 2:
    print(i,j)
    j += 1
  i += 1

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
string = "Hello World!"
result = string[:3]
print(result)

Hel

In [ ]:
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2
print(result)

Hello World

In [ ]:
list_of_string = ["Hello", "World", "!"]
# separator = "*"   ----- You can initialise and use separator also or you can write a separator directly in the join statement
result = "*".join(list_of_string)
print(result)

Hello*World*!

In [ ]:
string1 = "Hello"
string2 = "World"
result = f"{string1} {string2}"
print(result)

Hello World

In [ ]:
sentence = input()
word = sentence.split()
print(word)

hi im sujini
['hi', 'im', 'sujini']

In [ ]:
names_list = ['Arjun', 'Anya', 'Shefali', 'priya', 'Rahul', 'Rhea']
name = input()

def search_and_add_name(names_list, name):
  if name not in names_list:
    print(f'Current list is: {names_list}')
    names_list.append(name)
    print(f'Adding your name to list {names_list}')
  else: print('Name Already exists')

search_and_add_name(names_list, name)
#print(f'Adding your name to list {names_list}')

Ramya
Current list is: ['Arjun', 'Anya', 'Shefali', 'priya', 'Rahul', 'Rhea']
Adding your name to list ['Arjun', 'Anya', 'Shefali', 'priya', 'Rahul', 'Rhea', 'Ramya']

In [ ]:

int1 = int(input())
int2 = int(input())

def display_options():
  print("1.Add")
  print("2.Subtract")
  print("3.Multiply")
  print("4.Divide")
  print("5.Power")

def get_user_choice():
  choice = int(input())
  return choice

display_options()
user_choice = get_user_choice()

if user_choice == 1:
  calculation = int1 + int2
  print(f'Answer is:{calculation}')
elif user_choice == 2:
  calculation = int1 - int2
  print(f'Answer is:{calculation}')
elif user_choice == 3:
  calculation = int1 * int2
  print(f'Answer is:{calculation}')
elif user_choice == 4:
  calculation = int1%int2
  print(f'Answer is:{calculation}')
elif user_choice == 5:
  calculation = int1**int2
  print(f'Answer is:{calculation}')

else: print('Invalid input, Please choose any option from 1 to 5')

ValueError: ignored

In [ ]:

for i in range(1, 11):  # Loop for rows 1 to 10
    for j in range(1, 6):  # Loop for columns 1 to 5
        print(i * j, end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50

In [ ]:
sum = 0

for i in range(1, 51):
  if i%2==0:
    sum = sum + i
print(f'The sum of even numbers from 1 to 50 is: {sum}')

The sum of even numbers from 1 to 50 is: 650

In [ ]:
fact = int(input())

for i in range(1, fact):
  fact = fact * i
print(f'The factorial of 5 is: {fact}')

6
The factorial of 5 is: 720

In [ ]:
x = int(input())

for i in range(1,6):
  for j in range(i):
    print('*', end=" ")
  print()

6
*
* *
* * *
* * * *
* * * * *

In [ ]:
for num in range(2, 101):
  for i in range(2,num):
    if num%i == 0:
      break
  else:
    print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
vowels = 'aeiouAEIOU'
input_string = 'hello world'
vowel_count = 0

for i in input_string:
  if i in vowels:
    vowel_count = vowel_count + 1
print(f'The number of vowels in the string is: {vowel_count}')

The number of vowels in the string is: 3

In [ ]:
import random as r

def number_guessing_game():
  chances=5
  return
  r_num = r.randint(1,10)

for attempt in range(1, 5):
  guess = int(input())
  if guess != r_num:
    print("Incorrect Guess!!")
  else: print("You Win")

chances_left = attempt - (attempt+1)
if chances_left > 0:
  print(f'You got {chances_left} chances')
else: print(f'The ans is {r_num}')

number_guessing_game()

3
Incorrect Guess!!
The ans is 8